<div class="container">
  <div class="row float-right m-4">
      <button type="button" id="create_user_btn" class="btn btn-success" data-toggle="modal" data-target="#userAddUpdate" data-action="add">+</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Clair</th>
        <th scope="col">Hash</th>
        <th scope="col">MD5</th>
        <th scope="col">SALT</th>
        <th scope="col">Note</th>
      </tr>
    </thead>
    <tbody id="users_list">
      
    </tbody>
  </table>

  <div class="modal fade" id="userAddUpdate" tabindex="-1" role="dialog" aria-labelledby="userAddUpdateLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nouvel utilisateur</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="user-id" class="col-form-label">Id:</label>
            <input type="text" disabled class="form-control" id="user-id">
          </div>
          <div class="form-group">
            <label for="user-name" class="col-form-label">Nom:</label>
            <input type="text" class="form-control" id="user-name" autofocus>
          </div>
          <div class="form-group">
            <label for="user-name" class="col-form-label">Password:</label>
            <input type="text" class="form-control" id="user-password" autofocus>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="button" class="create_user_btn btn btn-info" data-dismiss="modal">Ajouter</button>
          <button type="button" class="update_user_btn btn btn-info" data-dismiss="modal">Modifier</button></td>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var users = []

  function get_users(){
    $('#users_list').empty()
    $.ajax({
        type: "POST",
        url: "controller/Controller.php",
        data: {
          "route": "users",
        },
        datatype: "text/html",
        success: function (response) {
          var dataJSON = JSON.parse(response);
          users = dataJSON.data[0]
          for (var i = 0; i < Object.keys(users).length; i++) {
            var element = users[i]
            console.log(element.psw_md)
            var row = '<tr id="row_'+element.id+'">'+
              '<th scope="row">'+(i+1)+'</th>'+
              '<td>'+element.name+'</td>' +
              '<td>'+element.psw_clear+'</td>'+
              '<td>'+element.psw_hash.substring(0, 10)+'..</td>'+
              '<td>'+element.psw_md+'</td>' +
              '<td>'+element.psw_salt+'</td>'+
              '<td>'+element.note+'</td>' +
            '</tr>'
            $('#users_list').append(row)
          }
        },
        fail: function (response) {
          console.log('request failed' + response);
        }
      });
  }

  function create_user(name, password){
    $.ajax({
        type: "POST",
        url: "controller/Controller.php",
        data: {
          "route": "create_user",
          "name": name,
          "password": password
        },
        datatype: "text/html",
        success: function (response) {
          var dataJSON = JSON.parse(response);
          get_users()
        },
        fail: function (response) {
          console.log('request failed' + response);
        }
      });
  }

  $(document).ready(function () {
    
    get_users()
    $('.create_user_btn').click(function() {
      create_user($("#user-name").val(), $("#user-password").val())
    })
    
    $('.update_user_btn').click(function() {
      update_user($('#user-id').val(),$("#user-name").val())
    })
    
    $('#userAddUpdate').on('show.bs.modal', function (event) {
      var modal = $(this)
      var button = $(event.relatedTarget)
      var action = button.data('action')
      $(".create_user_btn").show()
      $(".update_user_btn").hide()
      $("#user-id").parent().hide()
      $("#user-name").val("")
      $("#user-password").val("")
      $("#user-id").val("")
      modal.find('.modal-title').text('Nouvel utilisateur')
      if(action == "update"){
        $(".create_user_btn").hide()
        $("#user-id").parent().show()
        $(".update_user_btn").show()
        var id = button.data('id')
        var name = button.data('name')
        modal.find('.modal-title').text('Mise a jours de '+ name)
        modal.find('#user-name').val(name)
        modal.find('#user-id').val(id)
      }
    })

  });
</script>